<h2>New Estimate</h2>

<div class="row">
   <div class="col-md-4">
     <%= form_for @estimate do |f| %>
       <%= fields_for @person do |p| %>
         <div class="form-group">
           <%= p.label :name %>
           <%= p.text_field :first_name, class: 'form-control', placeholder: "Enter first name", :required => true %>
         </end>
         <div class="form-group">
           <%= p.label :age %>
           <%= p.text_field :age, class: 'form-control', placeholder: "Enter age", :required => true %>
         </end>
         <div class="form-group">
           <%= p.label :gender %>
           <%= p.select(:gender, Person::GENDER_TYPES, {}, {:class => 'form-control'}) %>
         </end>
         <div class="form-group">
           <%= p.label :city %>
           <%= p.select :location, Location.all.collect { |p| [ p.city, p.id ] }, {}, class: "form-control" %>
         </end>
         <div class="row">
          <%= fields_for(@person_health) do |ph| %>
            <div class="col-md-4">
              <%= ph.label "Health Conditions" %><br/>
              <%= ph.select(:condition, Estimate.health_keys, {}, {:multiple => true, :size => 8 }) %>
            </div>
          <% end %>
         </div>
       <% end %>
       <div class="row">
        </br>
       </div>
       <div class="form-group">
         <%= f.submit "Submit", class: 'btn btn-success' %>
       <end>
     <% end %>
   </div>
 </div>
